.loader span {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loader span:nth-child(2) {
  animation-delay: 50ms;
}

.loader span:nth-child(3) {
  animation-delay: 150ms;
}
/* General container styling */
/* Añadir CSS para el formulario */
.fixed-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 768px; /* O ajusta según el diseño */
  margin: auto;
  background-color: white;
  padding: 1rem;
  z-index: 50;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 130px; /* Asegúrate de que coincide con tu diseño */
}


.chat-container {
  max-height: calc(100vh - 130px); /* Espacio restante sin el formulario */
  overflow-y: auto;
  padding-bottom: 150px; /* Espacio adicional para evitar la superposición */
}
/* Common message styling */
.message {
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 18px;
    max-width: 80%;
    line-height: 1.6;
	font-size: 12px;
    line-height: 1.6;
}


/* Estilo para los elementos HTML de los mensajes de ChatGPT */
.message h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 0;
}

.message h4 {
    font-size: 1rem;
    color: #444;
    margin-top: 0.5em;
}

.message p {
    margin: 0.5em 0;
}

.message ul, .message ol {
    margin: 0.5em 0;
    padding-left: 1.2em;
}
.message ul {
    list-style-type: disc !important;  /* Asegura que se muestre el punto de la lista */
    padding-left: 1.5em;    /* Espaciado a la izquierda para alinear los puntos */
    margin: 0.5em 0;
}
.message li {
    margin-bottom: 0.4em;
}
.message li {
    margin-bottom: 0.4em;
}
.bg-green-800 {
    background-color: #7fffe84f;
}

/* Additional styling for better responsiveness */
@media (max-width: 600px) {
    .chat-container {
        padding: 10px;
    }
    .message {
        max-width: 100%;
        font-size: 0.9rem;
    }
}
